<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/DosSEdo/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="blyzer" />
            <add key="ClearTextPassword" value="fb779e494eacbf1981c5a806fd1c64c6c2351427" />
        </github>
    </packageSourceCredentials>
</configuration>
