<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- Only one active source-->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/DosSEdo/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="blyzer" />
            <add key="ClearTextPassword" value="2fa56daab3c8728ebf2752e7cb8d31dbb3e4df11" />
        </github>
    </packageSourceCredentials>
</configuration>
