<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/dossedo/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="blyzer" />
            <add key="ClearTextPassword" value="fb779e494eacbf1981c5a806fd1c64c6c2351427" />
        </github>
    </packageSourceCredentials>
</configuration>
